*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Navigo',Arial,sans-serif;
}

.form{
    background-color: #400080;
    color: #ffff;
    margin: 0 auto;
    display: flex;
    margin-top: 3rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 30%;
    border-radius: 20px;
    margin-bottom: 2rem;
    box-shadow: 8px 15px 18px 2px rgba(78, 78, 78, 0.37);
    -webkit-box-shadow: 8px 15px 18px 2px rgba(127,127,127,0.37);
    -moz-box-shadow: 8px 15px 18px 2px rgba(127,127,127,0.37);
}

h1{
    color: #d6ff73;
}

form {
    padding: 1rem;
}

input{
    margin-top: 10px;
    margin-bottom:20px;
    width: 100%;
    display: block;
    padding: 0.5rem;
}

input:focus {
    outline: 2px solid #d5ff73e5 !important;
}

input[type="file"] {
  font-size: 0.9em;
  padding-top: 0.35rem;
  background-color: #400080;
}

button {
    color: #400080;
    background-color: #d6ff73;
    font-weight: 600;
    border: none;
    height: 64px;
    padding: 0 15px;
    display: block;
    width: 100%;
}

button:hover {
    background-color: #b3d661;

}
